/Demo.class
/Demo.java
/MainClass.class
/MainClass.java
/MainMethod.class
/MainMethod.java
/MainVariable.class
/MainVariable.java
/Method.class
/Method.java
/OOPs1.class
/OOPs1.java
/Person.class
/Variable.class